<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <!--<servers>-->
        <!--<server>-->
            <!--<id>sonatype-nexus-snapshots</id>-->
            <!--<username>${env.SONATYPE_USERNAME}</username>-->
            <!--<password>${env.SONATYPE_PASSWORD}</password>-->
        <!--</server>-->
        <!--<server>-->
            <!--<id>sonatype-nexus-staging</id>-->
            <!--<username>${env.SONATYPE_USERNAME}</username>-->
            <!--<password>${env.SONATYPE_PASSWORD}</password>-->
        <!--</server>-->
    <!--</servers>-->
    <profiles>
        <profile>
            <id>rigo</id>
            <repositories>
                <repository>
                    <id>rigoInternal</id>
                    <name>Rigo Internal</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>http://www.saddleup.io:8082/repository/maven-public/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
